body {color:#000000;margin:0px; padding:0px; text-align:left; font-family: Verdana, Arial, sans-serif;font-size: 11px; font-weight: normal;}
a {color:#003F96;text-decoration:none;}
a:visited {color: #003F96;text-decoration:none;} 
a:hover {text-decoration:underline;}
img {border:0px;padding:0px;margin:0px;background-color:transparent;margin-bottom:10px}

.imgright {margin:0px 0px 15px 15px;float:right;}
.imgleft {float:left;margin:0px 15px 15px 0px;}

#MainFrameBox { margin: 0px auto 0px 0px; width:750px; padding: 0; }
#ContentFrameBox { margin: 20px 50px 0px 150px ; width:100%; padding: 0; }
#ContentFrameBox .good { font-weight:bold; color:#1E9B3C}
#ContentFrameBox .bad { font-weight:bold; color:#F11313}
#ContentFrameBox td { font-size:10px; font-weight:normal; }
#ContentFrameBox td.headline { font-weight:bold; background-color:#E3E5E7; }

#header
{
background:#202F62;background-color:#202F62
}

#logo {
height:50px;
padding: 0px;
margin: 0px;
}
#door {font-size:0.8em;font-weight:normal;margin:0px;padding:0px;visibility:hidden;}

#topnavicontainer 
{
position:absolute;
top: 38px;
left: 0px;
width: 1020px;
height: 10px;
border:0px;
padding: 0px;
margin: 0x;

}
#topnavi
{
display:inline;
float:right;
}


#topnavi ul
{
border:0px;
padding: 0px;
margin: 0x;
display:inline;

}
#topnavi li, #topnavi a
{
  list-style-type: none;

  color:#FFF;
  text-decoration:none;
  display:inline;
}

table#container, #container td, #container tr
{
text-align:left;
vertical-align:top;
margin: 0px;
border-collapse:collapse;
border:0px;
padding: 0px;
width:1020px;

}


td#left
{
padding: 15px 5px 2px 8px;
width:220px;
background:#E3E5E7;background-color:#E3E5E7;
border-right:1px dotted #000;
height:600px;
text-align:left;
}

td#content
{
  margin: 0px;
  padding-top:15px;
  padding-left:10px;
  width: 585px;
  line-height: 15px;
}

td#right
{
  margin: 0px;
  padding-top:0px;
  padding-left: 20px;
  width: 150px;
}

#leftnavi ul
{
  padding: 0px;
  margin: 0px;
  line-height: 26px;
}
#leftnavi li a
{
  display: block;
  padding: 0px;
  margin: 0px;
}
#leftnavi li
{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  color:#2B5998;
  text-decoration:none;
  text-align: bottom;
  display: inline;
}

#leftnavi .level1 {margin-left: 0px}
#leftnavi .level2 {margin-left: 0px}
#leftnavi .level3 {margin-left: 10px}
#leftnavi .level4 {margin-left: 20px}
#leftnavi .level5 {margin-left: 25px}
#leftnavi .level6 {margin-left: 30px}
#leftnavi .level7 {margin-left: 35px}
#leftnavi .level8 {margin-left: 40px}

#leftnavi .select {font-weight:bold;color:#C27624;}

#searchlineContainer
{
background:#2B5998;background-color:#2B5998;
height:10px;
color: #fff;
border: #fff;
border:1px solid #FFF;
border-width:1px 0px 1px 0px;
padding-top: 1px;
padding-right: 20px;

}

#searchline
{
width: 1020px;
border:0px;
padding: 0px;
margin: 0x;
display:inline;
float:left;
}


#searchline p
{
  display:inline;
  position:relative;
  text-align: bottom;

  width:200px;
}
.input
{
border:0px;
font-family: Verdana, Arial, sans-serif;font-size: 11px; font-weight: normal;
}




#content img
{
  border: 1px solid #C27624;
  border-width:1px 1px 1px 1px;
  padding: 1px;
  margin-left:10px;
  background:url(img/rahmen-hg.gif) 0 100% 0 100% no-repeat;
}


h1 {font-size:20px;color:#C27624;margin:15px 0px 5px 0px;font-weight:bold; line-height: 18px;}
h2 {font-size:15px;color:#C27624;margin:15px 0px 5px 0px;font-weight:bold; line-height: 18px;}
h3 {font-size:13px; color:#C27624; margin: 0px; font-weight: bold; line-height: 14px;}


#top_swapper, #bottom_swapper
{
font-size: 9px;
background:#E3E5E7;background-color:#E3E5E7;
width:600px;
height: 14px;
clear:both;
}
#top_swapper
{
margin:0px 0px 25px 0px;
}
#bottom_swapper
{
margin:25px 0px 25px 0px;
}

#top_swapper .leftswap, #bottom_swapper .leftswap  { width: auto; padding: 2px 8px 0px 0px;float: left;}
#top_swapper .rightswap, #bottom_swapper .rightswap  { width: auto; padding: 2px 0px 0px 8px; float: right;}

.alert
{
background:#FAF563;background-color:#FAF563;
width:600px;
border: dotted #A45F1C;
border-width:2px 2px 2px 2px;
margin:0px 5px 5px 5px;
padding: 4px 4px 10px 4px;
}

.source
{
background:#E3E5E7;background-color:#E3E5E7;
width:600px;
border: 1px solid #000;
margin:0px 5px 5px 5px;
padding: 4px 4px 10px 4px;
}


/* Kopfzeile Navi */
#kopfNaviContainer { background:#000;background-color:#000;right: 10px; height: 18px; text-align: right;border:1px solid #FFF;border-width:0px 0px 1px 0px;}
#kopfNavi #entry { width: auto; padding: 2px 0px 0px 10px;float: right;}
#kopfNavi  {font-size: 11px; font-weight: normal; color: white;}

#kopfNavi
{
display:inline;
float:left;
width:1020px;
}

/* Footer */
#footer {clear:both;float:none;color: #9DB2CE;background:#2B5998;background-color:#2B5998; height: 20px; text-align: left;border:0px;padding-top:8px;padding-left:10px}
#footer a {color: #9DB2CE;}

/* Promofelder */
#promo {margin: 0px; padding: 0px; width: 185px;float:left;}

/* Promofelder Box */
#promoBox {width: 185px;margin: 10px 0px 5px 0px; padding: 0px;}
#promoBoxo {width: 185px; margin: 0px; background: url(img/promo_box_m.png) 0px 100% no-repeat; }
#promoBoxm {widht: 185px; margin: 0px; background: url(img/promo_box_m2.png) 0px 100% repeat-y; padding: 0px 5px 5px 5px;}
#promoBoxu {widht: 185px; margin: 0px; background: url(img/promo_box_u.png) top no-repeat; height: 4px;line-height: .1em;}
#promoBox h3 {background: url(img/promo_box_o.png) 0px 0px no-repeat;padding: 5px 5px 15px 5px;}

/* Promofelder ContentBox */
#promoContentBox {width: 185px;margin: 10px 0px 5px 0px; padding: 0px;}
#promoContentBox h3 {background: url(img/promo_box_o.png) 0px 0px no-repeat;padding: 5px 5px 15px 5px;}
#promoContentBoxo {width: 185px; margin: 0px; background: url(img/promo_box_m.png) 0px 100% no-repeat; }
#promoContentBoxm {widht: 185px; margin: 0px; background: url(img/promo_contentbox_m.png) 0px 100% repeat-y; padding: 0px 1px 0px 1px;}
#promoContentBoxm #link {border-bottom: 1px solid #D4DBE6; padding: 6px 9px 6px 5px;}
#promoContentBoxm a {color: #024198;}
#promoContentBoxu {width: 185px; margin: 0px; background: url(img/promo_contentbox_u.png) top no-repeat; height: 13px;line-height: .1em;}



.ulmethods
{
list-style:none;
margin: 0px;
padding: 0px;
}

.limethods
{
padding: 2px;
background:#E3E5E7;background-color:#E3E5E7;
margin: 4px 0 4px 0;
border: 1px solid black;
}

.pttable
{
border-collapse:collapse;
}
