/* Stylesheet phenotype, Design Sellinger */
/* Navigation */

a:link, a:visited { 
	text-decoration: none;
	color: #000000;
}
a:hover {
	color: #0056C2;
}

/* TopMenu */
a.topmenu:link, a.topmenu:visited {
	font-size: 11px;
	padding: 3px 10px 3px 10px;
	background-color: #000000;
	color: #8C918A;
	text-decoration: none;
	display: block;
}
a.topmenu:hover {
	background-color: #4E535A;
	color: #FFFFFF;
}
a.topmenuActive:link, a.topmenuActive:visited {
	font-size: 11px;
	font-weight: bold;
	padding: 3px 10px 3px 10px;
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}

/* window-Tabmenu */
a.tabmenu:link, a.tabmenu:visited {
	font-size: 11px;
	padding: 0px 10px 0px 0px;
	background-color: #686F78;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
a.tabmenu:hover {
	background-color: #D1D6DB;
	color: #000000;
}
a.tabmenuActive:link, a.tabmenuActive:visited {
	font-size: 11px;
	padding: 0px 10px 0px 0px;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #0056C2;
	text-decoration: none;
	display: block;
}

a.tabmenuType:link, a.tabmenuType:visited {
	font-size: 11px;
	padding: 2px 5px 2px 5px;
	background-color: #686F78;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
a.tabmenuTypeActive:link, a.tabmenuTypeActive:visited {
	font-size: 11px;
	padding: 2px 5px 2px 5px;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #0056C2;
	text-decoration: none;
	display: block;
}
a.tabmenuType:hover {
	background-color: #D1D6DB;
	color: #000000;
}

/* TreeMenu */
.level01 {
	padding: 5px 10px 5px 10px;
	}
.level02 {
	padding: 5px 10px 5px 20px;
	}
.level03 {
	padding: 5px 10px 5px 30px;
	}
.level04 {
	padding: 5px 10px 5px 40px;
	}
.level05 {
	padding: 5px 10px 5px 50px;
	}
.level06 {
	padding: 5px 10px 5px 60px;
	}
.level07 {
	padding: 5px 10px 5px 70px;
	}
.level08 {
	padding: 5px 10px 5px 80px;
	}
.level09 {
	padding: 5px 10px 5px 90px;
	}
.level10 {
	padding: 5px 10px 5px 100px;
	}
.level11 {
	padding: 5px 10px 5px 110px;
	}
.level12 {
	padding: 5px 10px 5px 120px;
	}	
